# General
*.log
.DS_Store
.project
.strong-pm
*/node_modules
*/logs
*/npm-debug.log
*/.env

# Shared ressource
config/env/production.env

# Api
api/node_modules/*
api/config/*

# Worker
worker/config/*
worker/node_modules/*
