# General
*.log
.DS_Store
.project
.strong-pm
*/node_modules
*/logs
*/npm-debug.log
*/.env

# Shared ressource
config/env/production.env

# Api
api/node_modules/*
#api/config/*
api/src/queues/*
#api/src/models/*
api/src/routes/home/test.js

# Worker
#worker/config/*
worker/node_modules/*
#worker/src/models/*
